//- окно авторизации
app-login((user_entering)="userGreeting($event);", style="display:none;")
//- .container
//- 	router-outlet

.window#window
	//- .controls - верхняя панель 
	.controls
		form((submit)="this.listService.seachFile(searchfile.value); ngOnInit();")
			input.controls__search_file(type="text", name="searchfile", placeholder="Search",autocomplete="off", #searchfile='',id="id_search")


		.controls__user-greeting {{greeting}}
		.controls__exit((click)='userExit()') Exit


		//- компонент для аплоада файлов изображений в приложение
		app-file-upload([sel_folder]='sel_folder', #fu='',(change)="fu.addPhoto($event);this.listService.writeData();this.listService.definition_img_sizes();", [multiple]="true")
		.controls__button_reset((click)='this.listService.setInitialData(); this.listService.writeData(); this.listService.reload();')


	//- левое окно для дерева директорий
	.tree_window#tree_window
		folders(#folderc='', [parent]='parent',  (select)="goToFolder($event); subw.ngOnInit(); this.listService.add_class_selected_in_sub($event);", (created)="ngOnInit();", (deleted)="ngOnInit();", (renamed)="ngOnInit();")

	
	//- правое окно отображение содержания папок
	subwindow([sel_folder]='sel_folder', (select)="onSelectedInApp($event);",(double_click)="goInside($event);", (button_up_click)="onClickButtonUpInWin($event);", #subw='')

//- всплывающее окно для просмотра изображения при клике по нему 
app-popup(#pop='', [ngClass]="{'display-block': show_popup}", [sel_folder]="sel_folder",  [sel_image]='sel_image', (close_popup)="toggle_show_popup();")

